.telaRecuperacao {
    height: 100vh;
    background-color: #FBF8F4;
    font-family: Montserrat;
    padding: 0;
    margin: 0;

.imgdeFundo {
    position: fixed;
    top: -120px;
    width: 1024px;
    height: 1024px;
    left: 475px;
    right: 0px;
}

.titulo {
    color: #4B626C;
    padding: 0x;
    margin-left: 136px;
    margin-bottom: 30px;
    font-size: 50px;
}

.form input {
    margin-top: 45px;
}

#email {
    background-color: #EFEFEF;
    color: #97A4A2;
    border: #fbf8f4;
    padding: 5px 5px 5px 20px;
    margin-left: 56px;
    box-shadow: 0 4px 20px #00000040;
    display: block;
    width: 335px;
    height: 30px;
    left: 56px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29.26px;
    text-align: left;
    outline: none;
}

.botao-recuperacao {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 382px;
    color: #4B626C;
    cursor: pointer;
}

.erro {
    position: absolute;
    background-color: transparent;
    color: red;
    margin-left: 56px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#telas {
    background-color: #FBF8F4;
    padding: 50px;
    position: fixed;
    bottom: -15px;
    left: 0;
    font-size: 20px;
}

#telas a {
    display: block;
    text-decoration: none;
    color: #97A4A2;
    padding: 10px 0;
    transition: 0.5s;
}

#telas a:hover {
    color: #4B626C;
}
}