.telaRecuperacao {
    height: 100vh;
    background-color: #FBF8F4;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    overflow:visible;
    position: fixed;

    .imgdeFundo {
        position: fixed;
    z-index: -10;
    right: -200px;
    top: 100px;
    margin-top: -270px;
    width: 1224px;
    height: auto;
    }

    .titulo p {
        position: absolute;
        color: #4B626C;
        padding: 25px;
        left: 60px;
        top: 0px;
        font-size: 6.4rem;
        text-align: center;
    }

    .form{
        width: 475px;
        z-index: 1000;
    }

#email {
    background-color: #EFEFEF;
    position: absolute;
    color: #97A4A2;
    border: #fbf8f4;
    padding: 8px 50px 8px 10px;
    left: 82px;
    box-shadow: 0 4px 20px #00000040;
    border-radius: 5px;
    font-size: 2.4rem;
    line-height: 29.26px;
    top: 275px;
}

.botao-recuperacao {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 30px;
    top: 360px;
    left: 394px;
    color: #4B626C;
    cursor: pointer;
}

.erro {
    background-color: transparent;
    color: red;
    font-size: 1.6rem;
    margin-left: 83px;
    margin-top: 330px;
}

#telas {
    padding: 50px;
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 20px;
}

#telas a {
    display: block;
    text-decoration: none;
    color: #97A4A2;
    padding: 10px 0;
    transition: 0.5s;
}

#telas a:hover {
    color: #4B626C;
}

@media (max-width: 1400px){
    .imgdeFundo {
        left: 380px;
        height: auto;
    }
}
@media (max-width: 1100px){
    .imgdeFundo {
        left: 300px;
        width: 900px;
        height: auto;
    }

    #email{
    padding: 5px 5px 5px 10px;
    font-size: 2.1rem;
    }

    #senha{
        margin-top: 76px;
    }

    .botao-recuperacao {
        top: 350px;
        left: 330px;
    }

    .titulo p{
        left: 36px;
    }
}
@media (max-width: 768px){
    .imgdeFundo {
        margin-top: -250px;
        left: 70px;
        width: 650px;
        height: auto;
    }
    .titulo p{
        top: 380px;
        left: 190px;
    }
    .form{
        width: 768px;
    }
    #email{
        margin-left: 150px;
        top: 650px;
        padding: 5px 50px 5px 15px;
        font-size: 1.8rem;
    }
    .erro {
        margin-left: 232px;
        margin-top: 700px;
    }
    .botao-recuperacao {
        top: 710px;
        left: 480px;
    }
}
@media (max-width: 540px){
    .imgdeFundo {
        margin-top: -190px;
        left: 30px;
        width: 500px;
        height: auto;
    }
    #email{
        left: -25px;
        top:560px;
    }

    .titulo p{
        top: 280px;
        left: 80px;
    }

    .botao-recuperacao {
        top: 620px;
        left: 373px;
    }
    .erro {
        margin-left: 125px;
        margin-top: 605px;
    }
}

@media (max-width: 425px){
    .imgdeFundo {
        left: 0px;
        margin-top: -175px;
        width: 450px;
        height: auto;
    }
    #email{
        left: -76px;
        top: 490px;
        font-size: 1.4rem;
        padding: 5px 89px 5px 20px;
    }

    .titulo p{
        left: 90px;
        top: 290px;
        font-size: 4rem;
    }

    .botao-recuperacao {
        top: 550px;
        left: 320px;
    }
    .erro {
        margin-left: 75px;
        margin-top: 535px;
    }
}

@media (max-width: 375px){
    .imgdeFundo {
        margin-top: -175px;
        width: 380px;
        height: auto;
    }
    #email{
        top: 450px;
        left: -100px;
    }

    .titulo p{
        top: 250px;
        left: 60px;
    }

    .botao-recuperacao {
        top: 510px;
        left: 295px;
    }
    .erro {
        margin-left: 50px;
        margin-top: 495px;
    }
}

@media (max-width: 320px){
    .imgdeFundo {
        width: 330px;
        height: auto;
    }
    .form{
        width: 768px;
        
    }
    #email {
        left: -105px;
        top: 390px;
        padding: 5px 50px 5px 15px;
    }

    .titulo p{
        left: 30px;
        top: 200px;
    }

    .botao-recuperacao {
        top: 450px;
        left: 245px;
    }
    .erro {
        margin-left: 45px;
        margin-top: 435px;
    }
}
}