html{
    font-size: 62.5%;
}

html, body {
    height: 100vh ;
    margin: 0;
    padding: 0;
    background-color: #FBF8F4;
    
}

body {
    font-size: 1.6rem;
}

.telaLogin {
    height: 100vh;
    background-color: #FBF8F4;
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    overflow:visible;
    position: fixed;

.imgdeFundo {
    margin-left: 33%;
    margin-top: -145px;
    width: 1224px;
    height: auto;
}

.titulo p {
    position: absolute;
    color: #4B626C;
    padding: 25px;
    left: 146px;
    top: -10px;
    font-size: 6.4rem;
}
.form{
    display: flex;
    width: 475px;
    z-index: 1000;
}

#email, 
#senha {
    background-color: #EFEFEF;
    position: absolute;
    color: #97A4A2;
    border: #fbf8f4;
    padding: 8px 50px 8px 10px;
    left: 82px;
    box-shadow: 0 4px 20px #00000040;
    border-radius: 5px;
    font-size: 2.4rem;
    line-height: 29.26px;
    top: 204px;
}
#senha{
    margin-top: 96px;
}

.erro {
    position: absolute;
    background-color: transparent;
    color: red;
    margin-left: 180px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.botao-login {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 30px;
    top: 370px;
    left: 394px;
    color: #4B626C;
    cursor: pointer;
}

#telas {
    padding: 50px;
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 20px;
}

#telas a {
    display: block;
    text-decoration: none;
    color: #97A4A2;
    padding: 10px 0;
    transition: 0.5s;
}

#telas a:hover {
    color: #4B626C;
}

@media (max-width: 1100px){
    .imgdeFundo {
        margin-left: 350px;
        width: 900px;
        height: auto;
    }

    #email, 
    #senha {
    padding: 5px 5px 5px 10px;
    font-size: 2.1rem;
    }

    #senha{
        margin-top: 76px;
    }

    .botao-login {
        top: 350px;
        left: 330px;
    }

    .titulo p{
        left: 106px;
    }
}
@media (max-width: 768px){
    .imgdeFundo {
        margin-top: -150px;
        margin-left: 70px;
        width: 650px;
        height: auto;
    }
    .titulo p{
        top: 400px;
        left: 269px;
    }
    .form{
        width: 768px;
    }
    #email, 
    #senha {
        margin-left: 150px;
        top: 600px;
        padding: 5px 50px 5px 15px;
        font-size: 1.8rem;
    }


    .botao-login {
        top: 740px;
        left: 480px;
    }
}
@media (max-width: 540px){
    .imgdeFundo {
        margin-top: -100px;
        margin-left: 30px;
        width: 500px;
        height: auto;
    }
    #email, 
    #senha {
        left: -25px;
        top:480px;
    }

    .titulo p{
        top: 300px;
        left: 170px;
    }

    .botao-login {
        top: 620px;
        left: 373px;
    }
}

@media (max-width: 425px){
    .imgdeFundo {
        margin-left: 0px;
        margin-top: -75px;
        width: 450px;
        height: auto;
    }
    #email, 
    #senha {
        left: -76px;
        top: 430px;
        font-size: 1.4rem;
        padding: 5px 89px 5px 20px;
    }

    .titulo p{
        left: 130px;
        top: 290px;
        font-size: 4rem;
    }

    .botao-login {
        top: 570px;
        left: 320px;
    }
}

@media (max-width: 375px){
    .imgdeFundo {
        margin-top: -50px;
        width: 380px;
        height: auto;
    }
    #email, 
    #senha {
        top: 400px;
        left: -100px;
    }

    .titulo p{
        top: 250px;
        left: 110px;
    }

    .botao-login {
        top: 540px;
        left: 295px;
    }
}

@media (max-width: 320px){
    .imgdeFundo {
        width: 330px;
        height: auto;
    }
    .form{
        width: 768px;
        
    }
    #email, 
    #senha {
        left: -105px;
        top: 330px;
        padding: 5px 50px 5px 15px;
    }

    .titulo p{
        left: 80px;
        top: 190px;
    }

    .botao-login {
        top: 480px;
        left: 245px;
    }
}
}