.telaPrincipal {
    display: block;
    padding: 0;
    height: 100vh;
    background-color: #FBF6F0;
    font-family: Montserrat;
    margin: 0;
      
    .lancamentos {
        background-color: #4B626C;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 350px;
        padding: 20px 0;
        overflow: hidden;
    }
    
    #tituloLanc {
        font-size: 32px;
        margin-left: 50px;
        text-align: left;
        color: #FBF8F3;
        margin-bottom: 20px;
    }
    
    .imagensLancamentos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 70px;
        justify-content: center;
        padding: 0 150px;
    }
    
    .imagensLancamentos img {
        width: 100%;
        height: auto;
        border-radius: 5px; 
        transition: 0.1s;
    }
    
    .imagensLancamentos img:hover {
        transform: scale(1.05);
    }
    .imagensLancamentos div {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .imagensLancamentos p {
        position: absolute;
        bottom: 0px;
        left: 10px;
        background-color: #FBF8F3;
        color: #4B626C;
        padding: 4px 10px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
        text-align: center;
        width: auto;
    }
    #carrinhodecompras{
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 75px;
        height: 75px;
        cursor: pointer;
    }
    .lancamentos button {
        font-size: 80px;
        background-color: transparent;
        border: none;
        color: white;
        z-index: 1000;
    }
    .lancamentos #esquerdaLanc,
    .lancamentos #direitaLanc {
        position: absolute;
        display: flex;
        top: 250px;
        cursor: pointer;
        transform: translateY(-50%);
        transition: 0.1s;
    }
    .lancamentos #esquerdaLanc {
        left: 50px;
    }
    
    .lancamentos #direitaLanc {
        right: 50px;
    }
    
    #esquerdaLanc:hover,
    #direitaLanc:hover {
        transform: scale(1.1) translateY(-50%);
    }
    
    .rodape{
        top: auto;
    }
@media (max-width:450px) {
    .lancamentos #esquerdaLanc {
        left: 0px;
        top: 200px;
    }
    
    .lancamentos #direitaLanc {
        right: 0px;
        top: 200px;
    }
    .imagensLancamentos {
        padding: 0 70px;
    }
    #carrinhodecompras{
        width: 50px;
        height: 50px;
    }
}
}