.telaPrincipal {
    display: block;
    padding: 0;
    height: 100vh;
    background-color: #FBF6F0;
    font-family: Montserrat;
    margin: 0;

    .ImagensPromocoes{
        position: fixed;
    }

    #jogo3, #jogo6, #jogo9{
        Width:814px;
        height: auto;
        position: absolute;
        top: 175px;
        right: 136px;
    }

    #jogo1, #jogo4, #jogo7{
        position: absolute;
        left: 136px;
        top: 404px;
        width: 406px;
        height: 229.56px;
    }
    #jogo2, #jogo5, #jogo8{
        position: absolute;
        left: 136px;
        top: 175px;
        width: 406px;
        height: 229.56px;
    }

    .prom1{
        position: absolute;
        width: 90px;
        height: 19.13px;
        top:350.43px;
        left: 156px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        border-radius: 5px;
        z-index: 1;
    }
    #prom11{
        background-color:#4B626C;
        color: #FCFAFA;
        width:65px;
    }
    #prom12{
        background-color:#FCFAFA;
        color: #4B626C;
        width:100px;
        margin-left: 80px;
    }
    .prom2{
        position: absolute;
        width: 90px;
        height: 19.13px;
        top:580.43px;
        left: 156px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        border-radius: 5px;
        z-index: 1;
    }
    #prom21{
        background-color:#4B626C;
        color: #FCFAFA;
        width:65px;
    }
    #prom22{
        background-color:#FCFAFA;
        color: #4B626C;
        width:100px;
        margin-left: 80px;
    }
    .prom3{
        position: absolute;
        max-width: 90px;
        height: 19.13px;
        top:580.43px;
        left: 1163px;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.5px;
        text-align: center;
        border-radius: 5px;
        z-index: 1;
    }
    #prom31{
        background-color:#4B626C;
        color: #FCFAFA;
        width:65px;
        
    }
    #prom32{
        background-color:#FCFAFA;
        color: #4B626C;
        width:100px;
        margin-left: 80px;
    }

    .promocoes button{
        font-size: 80px;
        background-color: transparent;
        border: none;
        color: #4B626C;
        z-index: 1;
    }
    .promocoes #esquerdaProm{
        position: absolute;
        top: 364px;
        left: 30.52px;
        cursor: pointer;
        transition: 0.1s;
    }
    #esquerdaProm:hover{
        transform: scale(1.05);
    }
    .promocoes #direitaProm{
        position: absolute;
        top: 364px;
        left: 1357.48px;
        cursor: pointer;
        transition: 0.1s;
    }

    .indice {
        position: absolute;
        left: 700px;
        top: 598.73px;
        font-size: 20px;
        color: #97A4A2;
        display: flex;
        gap: 15px;
    }

    .indice i {
        margin: 0 10px;
        color: #97A4A2;
        transition: color 0.3s ease;
    }
    
    .indice i.active {
        color: #97a4a259;
    }

    .lancamentos {
        background-color: #4B626C;
        position: absolute;
        width: 1491px;
        height: 364px;
        top: 709px;
        overflow: hidden;
    }
    .imagensLancamentos p {
        background-color:#FCFAFA;
        color: #4B626C ;
        position: absolute;
        top: 240px;
        margin-left: 39px;
        padding: 4px 10px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 5px;
    }
    
    .lancamentos #tituloLanc {
        font-size: 32px;
        position: absolute;
        left: 135px;
        top: -15px;
        color: #FBF8F3;
    }
    
    .lancamentos img {
        padding: 30px 33px;
        width: 190px;
        height: 250px;
        transition: 0.1s;
    }
    
    .lancamentos img:hover {
        transform: scale(1.01);
    }
    
    .imagensLancamentos {
        position: absolute;
        left: 105px;
        top: 50px;
        display: flex;
    }
    
    .lancamentos button {
        font-size: 80px;
        background-color: transparent;
        border: none;
        color: white;
        z-index: 1000;
    }
    
    .lancamentos #esquerdaLanc,
    .lancamentos #direitaLanc {
        position: absolute;
        top: 200px;
        cursor: pointer;
        transform: translateY(-50%);
        transition: 0.1s;
    }
    
    .lancamentos #esquerdaLanc {
        left: 80px;
    }
    
    .lancamentos #direitaLanc {
        right: 80px;
    }
    
    #esquerdaLanc:hover,
    #direitaLanc:hover {
        transform: scale(1.1) translateY(-50%);
    }

    #carrinhodecompras{
        position: absolute;
        top: 230px;
        left: 1351px;
        width: 75px;
        height: 75px;
        cursor: pointer;
    }
    
    .rodape{
        background-color: #97A4A2;
        position: absolute;
        bottom: 0px;
        top: 1073px;
        height: 393px;
        width: 100%;
        display: flex;
    }

    .iconeRodape{
        position: absolute;
        top: 112px;
        left: 21px;
        width: 164px;
        height: 164px;
        border-radius: 10px;

    }
    #nome{
        position: absolute;
        top: 100px;
        left: 232px;
        font-size: 36px;
        font-weight: 700;
        line-height: 43.88px;
        text-align: left;
        color: #FBF8F3;
    }
    #slogan{
        color: #FBF8F3;
        position: absolute;
        font-size: 32px;
        font-weight: 300;
        line-height: 39.01px;
        text-align: center;
        width: 329px;
        height: 77px;
        top: 150px;
        left: 185px;
    }
    .othersPages {
        display: flex;
        flex-direction: column;
        color: #FBF8F3;
        font-size: 32px;
        text-align: center;
        margin-left: 644px;
        margin-top: 50px;
    }

    .othersPages a{
        color: #FBF8F3;
        text-decoration: none;
        padding: 7px;
        border-left: none;
        transition: 0.5s;
    }

    .othersPages h3{
        font-weight: 500;
        margin-bottom: 15px;
    }

    .othersPages a:hover{
        transform: scale(1.03);
    }

    .creditos{
        color: #4B626C;
        position: absolute;
        bottom: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 500px;
        height: 60px;
        left: 489px;

    }

    .creditos p{
    font-size: 24px;
    font-weight: 300;
    line-height: 29.26px;
    padding: 0px 10px;
    }

    #criador{
        border-left: 1px solid #4B626C;
        height: 30px;
    }
    
    .infos{
        color: #FBF8F3;
        position: absolute;
        font-size: 32px;
        left: 1022px;
    }
}