.telaConta {
    overflow:auto;
    display: block;
    padding: 0;
    background-color: #FBF6F0;
    font-family: Montserrat;
    margin: 0;

      #titulo{
        position: absolute;
        color: #FBF6F0;
        width: 300px;
        font-size: 32px;
        line-height: 39.01px;
        top: 53px;
        left: 100px;
    }
    #carrinhodecompras{
        position: absolute;
        z-index: 1;
        top: 800px;
        left: 538px;
        width: 100px;
        height: auto;
    }
      .jogos { 
        background-color: #4B626C; 
        position: absolute; 
        left: 55%; 
        height: 922px; 
        width: 1000px; 
        max-width: 45%;
    }
    
    .grid { 
        display: grid; 
        grid-template-columns: repeat(auto-fill, 200px); 
        gap: 80px 80px; 
        margin-top: 160px;
        margin-left: 100px;
    }
    
    .grid-item { 
        position: relative; 
    }
    
    .grid-item img { 
        object-fit: cover; 
        border-radius: 2px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s; 
        
        width: 190px; 
        height: auto;
        cursor: pointer;
    }
    
    .grid-item img:hover { 
        transform: scale(1.05); /* Aumenta a imagem levemente no hover */ 
    }
    
    .avaliacao { 
        position: absolute; 
        top: 250px;
        left: 0px; 
        background-color: #fbf6f028; 
        color: #FBF6F0; 
        padding: 5px; 
        border-radius: 5px; 
        cursor: pointer;
    }

    .avaliacao:hover{
        transform: scale(1.05);
    }
    .infos h2{
        font-weight: 600;
    }

    .configs{
    color: #4B626C;
    margin-left: 112px;
    margin-top: 265px;
    font-size: 32px;
    font-weight: 500;
    }

    button{
        background-color: #4B626C;
        color: #FBF6F0;
        border-radius: 10px;
        border: none;
        padding: 5px 10px 15px 20px;
        width: 270px;
        height: 45px;
        top: 640px;
        left: 112px;
        font-size: 30px;
        font-weight: 400;
        line-height: 36.57px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        display: block;
        margin-bottom: 50px;
        align-items: center;
        margin-right: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    button:hover{
        background-color: #97A4A273;
    }
    
    #admin{
        background-color: #97A4A273;
    }

    #admin:hover{
        background-color: #4B626C;
    }

    .jogos i{
        margin-left: 100px;
    }
    
}